/**
 * Palette
 * Canadian Palette by Dmitri Litvinov
**/

:root {
    --amour: #ee5253;
    --jade-dust: #00d2d3;
    --joust-blue: #54a0ff;
    --storm-petrel: #8395a7;
    --wild-caribbean-green: #1dd1a1;
    --megaman: #48dbfb;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 1.6rem;
    background-color: #f0efee;
}

fieldset {
    border: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h1, .h1 {
    font-size: 2.6rem;
}

h2, .h2 {
    font-size: 2rem;
}

h3, .h3 {
    font-size: 1.6rem;
}

h4, .h4 {
    font-size: 1.4rem;
}

.button {
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    border: 1px solid;
    text-transform: uppercase;
}

.button--positive {
    background: var(--joust-blue);
    border-color: var(--joust-blue);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: white;
}

.button--neutral {
    background-color: white;
    border-color: var(--storm-petrel);
}

.button--negative {
    background-color: white;
    border-color: var(--amour);
}

.button--link {
    border-color: transparent;
    color: var(--joust-blue);
}

.add-new-site {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 0;
}

.container {
    margin: auto;
    max-width: 640px;
}

.header {
    padding: 1rem 2rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.header__title {
    font-size: 2rem;
    font-weight: normal;
    color: var(--storm-petrel);
    margin-bottom: 0;
}

.header__brand {
    display: flex;
    align-items: center;
}

.header__strap {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1rem;
}

.section {
    margin-bottom: 3rem;
}

.section__title {
    font-size: 2rem;
}

.box {
    background-color: white;
    padding: 3rem;
    margin-bottom: 2rem;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
}

.form-field {
    margin-bottom: 1.5rem;
}

.form-field:last-child {
    margin-bottom: 0;
}

.form-field__label {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
    color: var(--storm-petrel);
}

.form-field__control {
    display: block;
    padding: 0.5rem 0;
    border: 0;
    border-bottom: 1px solid #d0d0d0;
    width: 100%;
    font-size: 1.4rem;
}

.form-field__control:focus {
    outline: none;
    border-color: var(--joust-blue);
}

.form-field__control.error {
    border-color: #ee5253;
}

.environment {
    margin: 0 0 3rem 1rem;
    padding-left: 2.5rem;
    border-left: 1px solid #00d2d3;
    position: relative;
}

.environment__number {
    font-size: 1rem;
    font-weight: bold;
    background-color: #00d2d3;
    color: white;
    margin: 0;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    line-height: calc(2rem);
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-50%);
}

.collapse:not(.show) {
    display: none;
}

.flex {
    display: flex;
}

.flex--space-between {
    justify-content: space-between;
}

/** Utilities **/

.ma-0 {
    margin: 0;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mr-1 {
    margin-right: 1rem;
}